.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 130px;
  grid-row-gap: 50px;
  margin-bottom: 50px;
}
.profil-photo {
  width: 13vw;
  height: 11vw;
  margin: 20px 20px 10px 20px;
  object-fit: cover;
}
