/* Changement du padding des flèches   */
.carousel-control-prev,
.carousel-control-next {
    width: 10%; 
  }

/* Changement de taille des flèches  */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height:50px ;
    
 }
.logo {
    background-image: url('../assets/enib.png');
    width: 600px;
    height: 600px;
}
/* .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4 10L13 19L14.4 17.5L7 10L14.4 2.5L13 1L4 10Z' fill='white'/></svg>");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6.99998 1L5.59998 2.5L13 10L5.59998 17.5L6.99998 19L16 10L6.99998 1Z' fill='white'/></svg>");
} */




.first-slide .image-background {
  /* Remplace 'url("chemin/vers/ton/image.jpg")' par le chemin réel de ton image */
  background-image: url("../assets/abstract-blurred-multi-colored-background-generative-ai.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1; /* Ajuste l'opacité selon tes préférences */
  z-index: 1;
}
.testColors {
  background-color: rgba(0, 0, 0, 0.4);

}